@import "../../../assets/constants/constants.scss";

.sort_by {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.sort_by__span {
  font-family: $fontFamilyBold;
  font-size: 20px;
}

@media (max-width: $desktop) {
  .sort_by {
    width: 30%;
  }
}

@media (max-width: $laptop) {
  .sort_by {
    width: 40%;
  }
}

@media (max-width: $tablet) {
  .sort_by {
    width: 48%;
  }
}

@media (max-width: $phone) {
  .sort_by {
    width: 90%;
    margin-top: 15px;
  }
}
