@import "../../assets/constants/constants.scss";

.header_button {
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: $roseColor;
  padding: 5px 100px;
  margin-top: 15px;
  font-size: 16px;
  font-family: $fontFamilyBold;
  text-transform: uppercase;
}

.header_button:focus {
  outline: none;
}

@media (max-width: $tablet) {
  .header_button {
    margin: 15px auto;
    display: block;
    padding: 7px 100px;
  }
}
