@import "../../../assets/constants/constants.scss";

.movie_element_poster {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.poster {
  width: 35%;
  height: 525px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -3%;
}

@media (max-width: $laptop) {
  .movie_element_poster {
    height: 400px;
  }
}

@media (max-width: $tablet) {
  .movie_element_poster {
    height: 260px;
  }
}

@media (max-width: $phone) {
  .movie_element_poster {
    height: 350px;
  }
}
