@import "../../../assets/constants/constants.scss";

.search_by_wrapper {
  position: relative;
  z-index: inherit;
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;

  .search_by_title {
    color: #fff;
    font-family: $fontFamilyBold;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (max-width: $desktop) {
  .search_by_wrapper {
    width: 40%;
  }
}

@media (max-width: $laptop) {
  .search_by_wrapper {
    width: 37%;
  }
}

@media (max-width: $largeTablet) {
  .search_by_wrapper {
    width: 45%;
  }
}

@media (max-width: $tablet) {
  .search_by_wrapper {
    width: 65%;
  }
}

@media (max-width: $phone) {
  .search_by_wrapper {
    width: 100%;
  }
}
