@import "../../assets/constants/constants.scss";

.sortBy_button {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-family: $fontFamilyBold;
}

.sortBy_input {
  display: none;
}

.sortBy_input:checked+.sortBy_button {
  color: $roseColor;
}

.searchType_button {
  cursor: pointer;
	background-color: #343939;
	color: #FFF;
	border: none;
	padding: 5px 30px;
	font-size: 16px;
	font-family: $fontFamilyBold;
}

.searchType_input {
  display: none;
}

.searchType_input:checked+.searchType_button {
  background-color: $roseColor;
}
