@import "../../assets/constants/constants.scss";

.sort_by_button {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-family: $fontFamilyBold;
}

.sort_by_input {
  display: none;
}

.sort_by_input:checked + .sort_by_button {
  color: $roseColor;
}

.search_type_button {
  cursor: pointer;
  background-color: #343939;
  color: #fff;
  border: none;
  padding: 5px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $fontFamilyBold;
}

.search_type_input {
  display: none;
}

.search_type_input:checked + .search_type_button {
  background-color: $roseColor;
}

@media (max-width: $smallPhone) {
  .search_type_button {
    padding: 5px 23px;
  }
}
