@import "../../../assets/constants/constants.scss";

.movie_element {
  width: 30%;
  background-color: #fff;
  margin-bottom: 5%;
  cursor: pointer;

  .wrapper_title_year {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 20px;

    .title {
      font-family: $fontFamilyBold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }

    .year {
      font-family: $fontFamilyRegular;
      border: 1px solid;
      padding: 2px 10px;
    }
  }
}

.movie_element:focus {
  outline: none;
}

@media (max-width: $laptop) {
  .movie_element {
    width: 48%;
  }
}

@media (max-width: $tablet) {
  .movie_element {
    width: 49%;
  }
}

@media (max-width: $phone) {
  .movie_element {
    width: 100%;
  }
}
