$fontFamilyBold: ProximaNovaBold,Arial,Verdana,Tahoma,sans-serif;
$fontFamilyRegular: ProximaNovaRegular,Arial,Verdana,Tahoma,sans-serif;
$roseColor: #f15c6f;
$smallPhone: 321px;
$phone: 575px;
$tablet: 767px;
$largeTablet: 1023px;
$laptop: 1199px;
$desktop: 1365px;
$fulhdDesktop: 1599px;
$leftPaddingFullHD: 15%;
$leftPaddingLaptop: 10%;
$leftPaddingTablet: 5%;
