$fontFamilyBold: ProximaNovaBold,Arial,Verdana,Tahoma,sans-serif;
$fontFamilyRegular: ProximaNovaRegular,Arial,Verdana,Tahoma,sans-serif;
$roseColor: #F15C6F;
$xsSize: 319px;
$smSize: 575px;
$mdSize: 767px;
$lgSize: 991px;
$xlgSize: 1199px;
